<a href="https://colab.research.google.com/github/Likhith1702/data690_likhith/blob/main/Assignment_02/Assignment_02_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Asking user to enter 10  integers 
- using "for" and "while" loop 
- using conditions "try" and "except"

In [11]:
the_list = []   
for i in range (0,10):

  while True:
    x = input("please enter integer:")
    try:
      y = int(x)
      the_list.append(y)
      print("got integer", y)
      break

    except:
      print("you must enter an integer. Please try again")
843211
print("you have entered", the_list)

please enter integer:10
got integer 10
please enter integer:11
got integer 11
please enter integer:2
got integer 2
please enter integer:13
got integer 13
please enter integer:14
got integer 14
please enter integer:15
got integer 15
please enter integer:16
got integer 16
please enter integer:17
got integer 17
please enter integer:18
got integer 18
please enter integer:19
got integer 19
you have entered [10, 11, 2, 13, 14, 15, 16, 17, 18, 19]

## Adding the list

In [12]:
total = 0

for i in the_list:
  total += i # total = total + i
print ("total =", total)

total = 135

## Calculating mean

In [13]:
mean = total/len(the_list)
print("mean=", mean)

mean= 13.5

## Getting the "minimum number" from the list

In [15]:
min = the_list [0]
for i in range(len(the_list)):
  if the_list[i]<min:
    min = the_list[i]
    
print("Minimum number from list is", min)

Minimum number from list is 2

## Getting the "Maximum number" from the list

In [17]:
max = the_list [0]
for i in range(len(the_list)):
  if the_list[i]>max:
    max = the_list[i]
print("Maximum number in list is", max)

Maximum number in list is 19

## Range
- maximun number in the list minus minimum number in the list

In [18]:
print("Range is =", max - min)

Range is = 17

## Variance 
- It is the gap between mean and the data points. 
- Finding the mean(the average).
- Subtracting the mean from each number in the data set and then squaring the result. The results are squared to make the negatives positive.
- Averaging the squared differences.

In [30]:
Variance = the_list [0]
Variance = sum((i - mean) ** 2 for i in the_list) / len(the_list)
print("Variance of list is", Variance)

Variance of list is 22.25

## Standard Deviation 
- Standard deviation is the square root of variance

In [32]:
Standard_Deviation = Variance ** 0.5
print("Standard Deviation of list is =", Standard_Deviation)

Standard Deviation of list is = 4.716990566028302